<div class="jumbotron" id = "cdproject">

      <div class = "container">
        <h1 class="jumbo-heading">CD Project</h1>
        <p class = "lead"> Contribute to our CD project</p>
        <p>Stanford Music and Medicine is embarking on a CD Project, where we are compiling musical works (both originals and covers) from Stanford affiliates to put onto a CD that would be distributed to the Stanford Community and Beyond to raise awareness about the connection between music and health. Possible recipients of the CDs would include organizations who serve individuals who could benefit from music (nursing homes, cancer centers, etc.). If you're interested in donating a song or recording a song with us,  or contributing in any other way, please fill out this interest form! We are thinking of recording at the beginning of spring quarter!</p>
        <p><a class="btn btn-Danger" href="https://docs.google.com/a/stanford.edu/forms/d/1VxAXOaVtJkJNWkv9LU17z6GktSs5dBk9oN6664ObRfw/viewform">Interest Form</a></p>

          </div>
</div>