<div class="jumbotron" id = "contact">

  <div class = "container">
    <h1 class="jumbo-heading">Contact Us</h1>
    <p>For further information about Stanford Music and Medicine, or to get involved, please email maheetha@stanford.edu</p>
      </div>
</div>