    <div class="jumbotron" id = "about">

      <div class = "container">
        <h1 class="jumbo-heading">Stanford Music and Medicine</h1>
        <p class = "lead"> Do you have a musical talent? Do you want to make people smile? Are you interested in putting the two together? Then sign up for Stanford Music and Medicine. </p>
          <p> Stanford Music and Medicine (SMAM) is a new initiative that strives to bring awareness of the health and medical benefits of music to the Stanford and Bay Area community. In addition to organizing volunteer events, we seek to host and sponsor events that educate the community on the effects of music on the brain, mind, and soul. </p> 
          <p>We currently have two projects. For our volunteer project, SMAM recruits talented Stanford students and affiliates to entertain patients and residents at the Lucile Packard Children's Hospital, Lytton Gardens, and other opportunity centers around town. Through a very basic form of palliative care and music therapy, SMAM wishes to bridge the undergrad and med school community further by offering meaningful service to interested students. For our Music and WellBeing project, we are in the process of organizing a half-day radio telecast event that will feature performances and speakers that will talk about their experiences with music, health, and medicine. We hope to record the performances on a CD and donate it to a global charity organization.</p>
          </div>
      </div>
