    <div class="jumbotron" id = "about">

      <div class = "container">
        <h1 class="jumbo-heading">Stanford Music and Medicine</h1>
        <p class = "lead"> Do you have a musical talent? Do you want to make people smile? Are you interested in putting the two together? Then sign up for Stanford Music and Medicine. </p>
          <p> Stanford Music and Medicine (SMAM) is a new initiative that strives to bring awareness of the health and medical benefits of music to the Stanford and Bay Area community. In addition to organizing volunteer events, we seek to host and sponsor events that educate the community on the effects of music on the brain, mind, and soul. </p> 
          <p>We currently have two projects. For our volunteer project, SMAM recruits talented Stanford students and affiliates to entertain patients and residents at the Lucile Packard Children's Hospital, Lytton Gardens, and other opportunity centers around town. Through a very basic form of palliative care and music therapy, SMAM wishes to bridge the undergrad and med school community further by offering meaningful service to interested students. For our Music and WellBeing project, we are in the process of organizing a half-day radio telecast event that will feature performances and speakers that will talk about their experiences with music, health, and medicine. We hope to record the performances on a CD and donate it to a global charity organization.</p>
          </div>
        </div>

    <div class="jumbotron" id = "volunteer">

      <div class = "container">
        <h1 class="jumbo-heading">Volunteer!</h1>
        <p class = "lead"> Volunteer at one of our centers</p>
        <p><span class="volunteerorg">Lucile Packard's Children's Hospital </span> 3-4 on Saturdays (any time slot between then): there's no piano, but you can bring any instrument you'd like. </p>
        <p><span class="volunteerorg">Lytton Gardens </span> 2-4 on Sundays: bedside volunteering, as well as general volunteering, and there is a piano. </p>
        <p> <span class="volunteerorg"> Opportunity Center </span> 3-4 on Fridays: No piano, but interactive workshops (teaching kids songs) are more welcome. Performances are also great.</p>

       <p><a class="btn btn-Danger" href="http://goo.gl/forms/rnV7E5ZdAp">Sign up!</a></p>
          </div>
    </div>

        <div class="jumbotron" id = "cdproject">

      <div class = "container">
        <h1 class="jumbo-heading">CD Project</h1>
        <p class = "lead"> Contribute to our CD project</p>
        <p>Stanford Music and Medicine is embarking on a CD Project, where we are compiling musical works (both originals and covers) from Stanford affiliates to put onto a CD that would be distributed to the Stanford Community and Beyond to raise awareness about the connection between music and health. Possible recipients of the CDs would include organizations who serve individuals who could benefit from music (nursing homes, cancer centers, etc.). If you're interested in donating a song or recording a song with us,  or contributing in any other way, please fill out this interest form! We are thinking of recording at the beginning of spring quarter!</p>
        <p><a class="btn btn-Danger" href="https://docs.google.com/a/stanford.edu/forms/d/1VxAXOaVtJkJNWkv9LU17z6GktSs5dBk9oN6664ObRfw/viewform">Interest Form</a></p>

          </div>
    </div>

    <div class="jumbotron" id = "team">
        <div class = "container">
        <h1 class="jumbo-heading">Our Team</h1>
        <p class = "lead"> Maheetha Bharadwaj</p>
        <p class="position">Founder, Co-Director for Music and Well-Being CD Project</p>
        <p></p>
        <p class = "lead"> Christine Chang</p>
        <p class="position">Lytton Garden Volunteer Coordinator</p>
        <p> Christine is a sophomore studying bioengineering. In her spare time, she likes to play flute, knit/crochet colorful beanies and scarves, and curl up in a corner or on a bench outside with a good book.</p>
        <p class = "lead"> Ates Akgun</p>
        <p class="position">LPCH Volunteer Coordinator</p>
        <p></p>
        <p class = "lead"> Sohee Park</p>
        <p class="position">Co-Director for Music and Well-Being CD Project, Opportunity Center Volunteer Coordinator</p>
        <p></p>
        <p class = "lead"> Vivian Ho</p>
         <p class="position">Intern</p>
        <p>Vivian Ho is a sophomore originally from Mobile, Alabama. At Stanford, she is pursuing a Human Biology major and a minor in Chemistry. She is passionate about serving and loving people and therefore hopes to one day become a doctor to work in third-world countries. As a member of Counterpoint A Capella, Vivian also serves as the vocal percussionist. Outside of singing, Vivian is a tutor for Sports & Scholars, bioengineering researcher, and founding member of Stanford Chapter of Jordan International Aid.</p>
        <p class = "lead"> Clair Kim</p>
        <p class="position">Intern</p>
        <p></p>
        <p class = "lead"> Saachi Jain</p>
         <p class="position">Webmaster</p>
        <p> Saachi is a freshman from Los Gatos, CA. At Stanford she is pursuing a Computer Science major and a minor in Biology. In her off-time, she enjoys playing volleyball, building things, and hanging out with friends.
        <p class = "lead"> Tien-Wien Wiedmann</p>
        <p class="position">Faculty Advisor</p>
        <p> Dr. Wiedmann joined Stanford University in 1980 and served on the faculty in the Medical School.  She was a founder of a  non-profit organization, H.E.L.P. for Kids, dedicated to youth education and development.  Together with Mark Talbott, the Director of Squash at Stanford, she co-founded another non-profit organization, Xtreme Squash, which offers academic enrichment in conjunction with squash instruction to middle school children from economically challenged communities. </p>

        <p>Her professional career spanning more than 40 years  was dedicated to education and medical research.  Her research areas covered a wide variety of disciplines including endocrinology, immunology, cancer biology, and neurology.  Much of her career was in the university setting, including Harvard University, University of Basel (Switzerland), and Stanford University.  She spent her last years of research in a pharmaceutical company in charge of research and drug discovery in addition to serving as a consultant to a number of biotech companies. </p>

        <p> Dr. Wiedmann has been advising and mentoring undergraduates, graduate students, and medical students at Stanford for more than 30 years.  She also as the faculty advisor to a number of student organizations at Stanford, including the Stanford Premedical Association and the Association for Chinese Students and Scholars at Stanford. </p>

        <p> Her passion is education, especially that of young people.  She is also a big enthusiast about sports, especially playing tennis, squash, and ping pong.  She coached college varsity tennis teams for a number of years and continues to coach individuals, especially on strategy and mental attitude. She has twin sons and 3 grandchildren (1 girl and 2 boys).  She earned her Ph.D in pathology and biochemistry from Harvard University  in 1963. </p>
        
    	</div>
    </div>


    <div class="jumbotron" id = "contact">

      <div class = "container">
        <h1 class="jumbo-heading">Contact Us</h1>
        <p>For further information about Stanford Music and Medicine, or to get involved, please email maheetha@stanford.edu</p>
          </div>
    </div>