    <div class="jumbotron" id = "team">
        <div class = "container">
        <h1 class="jumbo-heading">Our Team</h1>
        <p class = "lead"> Maheetha Bharadwaj</p>
        <p class="position">Founder, Co-Director for Music and Well-Being CD Project</p>
        <p></p>
        <p class = "lead"> Christine Chang</p>
        <p class="position">Lytton Garden Volunteer Coordinator</p>
        <p> Christine is a sophomore studying bioengineering. In her spare time, she likes to play flute, knit/crochet colorful beanies and scarves, and curl up in a corner or on a bench outside with a good book.</p>
        <p class = "lead"> Ates Akgun</p>
        <p class="position">LPCH Volunteer Coordinator</p>
        <p></p>
        <p class = "lead"> Sohee Park</p>
        <p class="position">Co-Director for Music and Well-Being CD Project, Opportunity Center Volunteer Coordinator</p>
        <p></p>
        <p class = "lead"> Vivian Ho</p>
         <p class="position">Intern</p>
        <p>Vivian Ho is a sophomore originally from Mobile, Alabama. At Stanford, she is pursuing a Human Biology major and a minor in Chemistry. She is passionate about serving and loving people and therefore hopes to one day become a doctor to work in third-world countries. As a member of Counterpoint A Capella, Vivian also serves as the vocal percussionist. Outside of singing, Vivian is a tutor for Sports & Scholars, bioengineering researcher, and founding member of Stanford Chapter of Jordan International Aid.</p>
        <p class = "lead"> Claire Kim</p>
        <p class="position">Intern</p>
        <p> Claire is a freshman at Stanford who is undecided about many many things but one who will always believe in two things: the power of music &amp; her duty of healing others through sharing tokens of herself everyday. </p>
        <p class = "lead"> Saachi Jain</p>
         <p class="position">Webmaster</p>
        <p> Saachi is a freshman from Los Gatos, CA. At Stanford she is pursuing a Computer Science major and a minor in Biology. In her off-time, she enjoys playing volleyball, building things, and hanging out with friends.
        <p class = "lead"> Tien-Wien Wiedmann</p>
        <p class="position">Faculty Advisor</p>
        <p> Dr. Wiedmann joined Stanford University in 1980 and served on the faculty in the Medical School.  She was a founder of a  non-profit organization, H.E.L.P. for Kids, dedicated to youth education and development.  Together with Mark Talbott, the Director of Squash at Stanford, she co-founded another non-profit organization, Xtreme Squash, which offers academic enrichment in conjunction with squash instruction to middle school children from economically challenged communities. </p>

        <p>Her professional career spanning more than 40 years  was dedicated to education and medical research.  Her research areas covered a wide variety of disciplines including endocrinology, immunology, cancer biology, and neurology.  Much of her career was in the university setting, including Harvard University, University of Basel (Switzerland), and Stanford University.  She spent her last years of research in a pharmaceutical company in charge of research and drug discovery in addition to serving as a consultant to a number of biotech companies. </p>

        <p> Dr. Wiedmann has been advising and mentoring undergraduates, graduate students, and medical students at Stanford for more than 30 years.  She also as the faculty advisor to a number of student organizations at Stanford, including the Stanford Premedical Association and the Association for Chinese Students and Scholars at Stanford. </p>

        <p> Her passion is education, especially that of young people.  She is also a big enthusiast about sports, especially playing tennis, squash, and ping pong.  She coached college varsity tennis teams for a number of years and continues to coach individuals, especially on strategy and mental attitude. She has twin sons and 3 grandchildren (1 girl and 2 boys).  She earned her Ph.D in pathology and biochemistry from Harvard University  in 1963. </p>
        
    	</div>
    </div>