<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<title><%= @title %></title>
</head>
<body>

  <div class="customnav navbar navbar-default navbar-inverse" role="navigation">
    <div class = "container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-header">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class = "navbar-brand" href = "/">SMAM</a>
      </div>

      <div class = "collapse navbar-collapse" id = "main-header">
        <ul class = "nav navbar-nav navbar-right">
          <li><a href="/" >About</a></li>
          <li><a href="/volunteer">Volunteer</a></li>
          <li><a href="/cdproject">CD Project</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div>

  <div class="banner">
  	<div class = "titlecontainer">
  	<h1 class="title"> Stanford Music and Medicine </h1>
  	</div>
  </div>

  <div class="container containerspecial">
  	<%= yield %>
	</div>

</body>
</html>
